@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
}

body{
    background-color: #f1f6fc31;
}

section, footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: #000009;
}

.container nav a img{
    width: 150px;
}

.container{
    max-width: 1400px;
    margin: 0 Auto;
    padding: 0 5%;
}

.btn{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn.animate-btn{
    margin-top: 1rem;
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover{
    background-color: #3580db;
}
@keyframes animate-outline {
    from{
        outline:  0px solid #4f9bf994;
    }
    to{
        outline: 15px solid #4f9bf98a;
    }
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 30px; */

}
/* nav a img{
    padding: 0 50%;
    display: flex;
} */

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase ;
    font-size: 14px;
    display: block;
}

nav ul a:not(.btn):after{
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul a:hover::after{
    width: 100%;
}

/* menu mobile */

nav .menu-icon{
    cursor: pointer;
    font: 5px;
    color: white;
    display: none;
}

nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 90px;
        
}
.banner .banner-text h1{
    font-size: 96px;
    color: white;
}

.banner .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}

/* Sobre evento */

.sobre-evento .container{
    display: flex;
    align-items: center;
}
.sobre-evento .sobre-evento-text{
    width: 50%;
    padding: 0 40px;
}
.sobre-evento .sobre-evento-text h3{
    font-size: 56px ;
}
.sobre-evento .sobre-evento-text p{
    margin: 5px 0 10px 0;
}
.sobre-evento .sobre-evento-img{
    width: 50%;
}
.sobre-evento .sobre-evento-img img{
    width: 100%;
}

/* Palestrantes */

.palestrantes h3{
    text-align: center;
}

.palestrantes p{
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.palestrantes .cards-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.palestrantes .cards-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.palestrantes .cards-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.palestrantes .cards-item .sobre-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;

}

.palestrantes .cards-item:hover{
    background-color: #4f9cf9;
    margin-top: -5px;
}

.palestrantes .cards-item:hover .nome-user, .palestrantes .cards-item:hover .sobre-user{
    color: white;
}

/* patrocinadores */

.patrocinadores h3, .patrocinadores p{
    text-align: center;

}

.patrocinadores .container div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    flex-wrap: wrap;   
}

.patrocinadores .div-patro img{
    max-width: 20%;
}

/* footer */

.footer{
    background-color: #4f9cf9;
    text-align: center;
    
}

/* 
footer i{
    color: red;
    font-size: 19px;
    background-color: #white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
*/

.footer p{
    margin-top: 10px;
    color: white;
}

/* Pagina sobre */
.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sobre .sobre-text{
    width: 50%;
    padding-right: 40px;
    align-items: center;
}

.sobre .sobre-text p{
    margin: 18px 0;
    color:  #000000a6;

}
.sobre .sobre-img{
    width: 50% ;
    border-radius: 10px;
}

.sobre .sobre-img img{
    width: 100%;
    border-radius: 10px;
    background-color: #184b88;
}

/* Fim pagina sobre */

/* Pagina palestrantes */

.convidados h3{
    align-items: center;
}
.convidados .container > p{
    text-align: center;
}

.convidados .rows-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.convidados .row-card-item{
    background-color: #d3e6fd;
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
}
.convidados .row-card-item:hover{
    background-color: #4f9cf9;

}

.convidados .row-card-item:hover p{
    color: white;
}

.convidados .rows-cards img{
    max-width: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
    border-radius: 15px;
    padding: 9px;
}

.divulgacao {
    width: 25%;
}

/* dados */
.dados{
    background-color: #d3e6fd;
}

.dados .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dados-item{
    text-align: center;
    margin: 15px;
    color: black;
}

.dados .dados-item img{
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;    
}

.dados .dados-item p{
    font-size: 18px;
}
.dados .dados-item p strong{
    font-size: 28px;

}

/* fim pagina palestrantes */

/* formulario de inscrição */



.container-form {
    width: 100%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    
}

.title{
font-size: 50%;
}


.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}


.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
   
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #4f9cf9;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #074086;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #4f9cf9;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
   
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #ffffffc0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #ffffffc0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #4f9cf9;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #074086;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}


/* fim formulario */


@media (max-width: 830px){
    /* menu mobile */

    .container nav a img{
        width: 90px;
    }


    .menu{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #184b88;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
        z-index: 1;
    } 

    .menu.open{
        clip-path: circle(141.2% at 100% 0);
    }
    .menu a{
        margin: 10px 0 ;
        font-size: 16px;
    }

    nav .menu-icon{
        display: block;
    }

    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;

    }

    /* Pagina home responsivo */
    .sobre-evento .sobre-evento-text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }
    .sobre-evento .container{
        flex-direction: column;
    }
    .sobre-evento .sobre-evento-text h3{
        font-size: 40px;
    }
    .sobre-evento .sobre-evento-text, .sobre-evento .sobre-evento-img{width: 100%;}
    
    /* banner */
    .banner .banner-text{
        padding: 0;
        margin: 80px;
    }

    .banner .banner-text h1{
        font-size: 80px;
    }
    .banner .banner-text p{
        font-size: 15px;
    }

    .palestrantes .cards-item{
        width: 100%;
    }

    .patrocinadores h3{
        font-size: 40px;
    }

    .patrocinadores .div-patro img{
    max-width: 25%;
}

    /* Pagina sobre responsivo */
    .sobre .container{
        flex-direction: column-reverse;
    }

    .sobre .sobre-img, 
    .sobre .sobre-text{
        width: 100%;
    }

    .sobre .sobre-evento-text{
        margin-top: 40px;
    }
}

